.App {
  font-family: sans-serif;
  text-align: center;
  user-select: none;
}

.comp1 {
  background-color: lightyellow;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 3px #555;
  cursor: pointer;
}

.comp2 {
  background-color: lightblue;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px #777, 1px 1px 2px #333;
}
